html, body, #duck-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	-moz-user-drag: none;
	user-drag: none;
	-moz-user-select: none;
	user-select: none;
}

#counter {

}

#counter > .foodSlot {
	display: inline-block;
	width: 3em;
	height: 1em;
	border: 1px solid black;
	background-color: gray;
}

#workspace {
	width: 15em;
	height: 15em;
	border: 1px black dotted;
}

#workspace * {
	position: absolute;
}

#progress-meal {
	width: 15em;
}

/* Individual meals */
.fries {
	width: 7em;
	height: 3em;
	left: 3em;
	background-color: yellow;
}

.deepfryer {
	width: 13em;
	height: 6em;
	top: 7em;
	left: 1em;
	background-color: rgba(150,150,150,0.8);
}
