html, body {
  padding: 0;
  margin: 0;
  background-color: #5d9bc7;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.view-map {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  padding: 7.6rem 0;
}

#map {
  border: white 2px dashed;
}

.context-menu {
  display: inline-block;
  list-style: none;
  padding: 0;
  background-color: white;

  li {
    border: 2px solid black;
    line-height: 1em;
  }

  button {
    width: 100%;
    color: black;
    border: none;
    padding: 0.2em 1em;
    margin: 0;
    text-align: start;
    
    &:hover, &:focus {
      background-color: #ccc;
    }
  }
}
