@charset "UTF-8";
html {
  font-size: 200%;
}

.App {
  margin: auto;
  max-width: 20em;
}

button {
  width: 100%;
  height: 2rem;
}

/* Colors */
body {
  font-family: sans-serif;
  background-color: #000;
}

.App > div {
  background-color: rgba(0, 179, 235, 0.25);
  border: 3px solid rgba(0, 179, 235, 0.5);
  color: #FEB113;
}

#StoryText {
  padding: 0.75em;
}

button {
  display: block;
  color: #FEB113;
  font-size: 1em;
  background-color: rgba(0, 179, 235, 0.5);
  border: 0.2em solid rgba(0, 179, 235, 0.7);
}

button:disabled {
  color: gray;
  font-size: 1em;
  background-color: darkgray;
  border: 0.2em solid rgba(0, 179, 235, 0.7);
}
