html, body {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

header {
  color: white;
  background-color: black;
  h1 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
  }
}

#wrapper {
  max-width: 20em;
  margin: auto;
}

#buttons button {
  width: 100%;
  font-size: 0.7em;
  margin-top: 1em;
  padding: 0.5em;
}

footer {
  color: slategray;
  margin-top: 2em;
  font-size: 50%;
}
