.TaskSelectorList .TaskSelectorItem {
  position: relative;
  display: block;
  width: 6em;
  height: 2em;
}

.TaskSelectorList .TaskSelectorItem .Task {
  position: absolute;
  display: block;
  width: 6em;
  height: 2em;
  animation-duration: 1s;
}

.TaskSelectorList .TaskSelectorItem .ItemNumber {
  font-size: 3em;
}
