html, body {
	font-family: serif;
	font-size: 1.3em;
	width: 100%;
	height: 100%;
	text-align: center;
}

body {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "display input"
					"stats  stats";
}

.error {
	background-color: red;
}

.display {
	grid-area: display;
	border: 1px purple solid;
	color: #888;
}

.display>div {
	display: inline-block;
	position: relative;
}

.input {
	grid-area: input;
	border: 1px green solid;
	min-height: 1em;
}

.stats {
	grid-area: stats;
}

#correct {
	color: #0f0;
	background-color: #000;
	position: absolute;
	top: 0px;
	left: 0px;
}
