html, body {
	width: 100%;
	height: 100%;
	background-color: #111;
	font-family: sans-serif;
	color: #eee;
}

header {
	text-align: center;
}

.element {
	display: inline-block;
	line-height: 0;
}

.element * {
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 0.2em;
	margin: 0.1em;
	transition: width 0.2s, height 0.2s, background-color 0.2s, transform 2s;
}

.element:hover * {
	width: 1.1em;
	height: 1.1em;
	border-radius: 0.2em;
	margin: 0.11em;
}

.element-L .b {
	background-color: darkgreen;
}

.element-I .b {
	background-color: red;
}

.element-S .b {
	background-color: yellow;
}

.element-Z .b {
	background-color: purple;
}
