html {
	color: white;
	background-color: black;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

footer {
	max-height: 1.3em;
}

.hcontainer {
	width: 100%;
	display: flex; /* or inline-flex */
	flex-direction: row;
	flex-wrap: wrap;
	align-content: stretch;
}

.vcontainer {
	height: 100%;
	display: flex; /* or inline-flex */
	flex-direction: column;
	flex-wrap: wrap;
	align-content: stretch;
}

.hcontainer>.box, .hcontainer>.mainbox,
.vcontainer>.box, .vcontainer>.mainbox {
	flex-grow: 1;
}

.mainbox {
	border: 3px solid white;
}

/* faulty workaround */
.mainbox>.mainbox {
	margin: -3px;
}

.box {
	border: 1px solid white;
}

.marquee {
	width: 100%;
	height: 1em;
	white-space: nowrap;
	overflow-x: hidden;
}

.marquee>span::after {
	content: ' | ';
}

#box-stats {
}

#box-announcements {
}

#box-fields {
	flex-grow: 1;
}

table {
	border-collapse: collapse;
}

table th, table td {
	border: 1px solid white;
}