* {
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}

*:link, *:visited {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

.pull-right {
	float: right;
}

p.clear {
    clear: both;
}

#header {
	min-width: 100%;
	color: white;
	background-color: #ff9664;
}

#apptitle-div {
	float:left;
	max-width:50%
}

#app-actions {
	color: white !important;
	text-transform: uppercase;
	margin: 1.2em;
}

#app-actions a:link, a:visited, a:hover {
	color: white !important;
	font-weight: bold;
}

h1 {
	padding: 0.3em;
	padding-left: 1em;
}

#wrapper {
	max-width: 400px;
	margin: 2em;
}

#colorspread_canvas {
	max-width: 100%;
}

.valuebutton {
	width: 24%;
	min-width: 5em;
	max-width: 7em;
	height: 5em;
	padding: 10px 15px 11px !important;
	background-color: #aaa;
	color: #ffffff;
	border-radius: 5px;
	border: 1px solid #ccc;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
