.List {
  border-collapse: collapse;
}

.List thead tr {
  color: white;
  background: #333;
  font-weight: bold;
}

.List tbody tr:nth-of-type(2n+1) {
  background: lightgray;
}

.List td {
  border: 1px solid black;
}
