html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.visiting_card {
	position: relative;
	display: inline-block;
}

.visiting_card.ca {
	width: 3.5in;
	height: 2in;
}

.visiting_card.ca>section {
	width: calc(3.5in - 10mm);
	height: calc(2in - 10mm);
	margin: 5mm;
}

.visiting_card.de {
	width: 85mm;
	height: 55mm;
}

.visiting_card.de>section {
	width: calc(85mm - 10mm);
	height: calc(55mm - 10mm);
	margin: 5mm;
}

.black_card {
	color: #414141;
	background-color: #010101;
	font-family: sans-serif;
}

.black_card>section {
	padding: auto;
	position: relative;
	display: block;
}

.black_card>section>h1 {
	color: #717171;
	text-transform: uppercase;
	font-size: 1.5em;
	padding: 0.2em 0;
	border-top: 0.1mm solid #717171;
	border-bottom: 0.1mm solid #717171;
}

.black_card>section>footer {
	position: absolute;
	bottom: 0mm;
}

.black_card>section>footer>h2 {
	color: #818181;
	text-transform: uppercase;
}
