* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#playground {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url('water.png');
	background-repeat: repeat;
	background-position: 0 0;
}

#land-north {
	width: 100%;
	height: 64px;
	background-image: url('land_north.png');
	background-repeat: repeat-x;
	background-position: 0 0;
}

#land-south {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 64px;
	background-image: url('land_south.png');
	background-repeat: repeat-x;
	background-position: 0 0;
}

#ship {
	position: absolute;
	top: 25%;
	left: 10%;
	width: 6em;
	height: 6em;
	background-image: url('ship.png');
	background-size: cover;
	animation: shipInWaves 2s infinite ease-in-out;
}

@keyframes shipInWaves {
	0% {
		-webkit-transform: rotate(0deg);
	}
	20% {
		-webkit-transform: rotate(-5deg);
	}
	70% {
		-webkit-transform: rotate(4deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}
